@import url(https://fonts.googleapis.com/css?family=Ubuntu);
#gen_expertise {
    padding: 50px 30px 10px 80px;
    background-color: #d7cec7;
    color: #565656;
}
#edu {
   padding: 50px 30px 10px 80px;  
   background-color: #d7cec7;
   color: #565656;
}
#tech {
    padding: 50px 30px 10px 80px;
    background-color: #d7cec7;
    color: #565656;
}
#w_exp {
    padding: 50px 30px 10px 80px;
    background-color: #d7cec7;
    color: #565656;
}
#contact {
    padding: 20px 30px 10px 80px;
    background-color: #d7cec7;
    color: #565656;
}
#my_name {text-align: center};

#brown {color:#76323F};